<% provide(:title, 'All Posts') %>
<h1>All Posts</h1>
<%= form_for(@createpost) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<%= will_paginate @micropost%>
<div class="col-md-8">
    <ol class="microposts">
        <%= render @micropost %>
    </ol>
</div>
<%= will_paginate @micropost%>

